# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    environment: caadi

    steps:
    
    - uses: actions/checkout@v4

    - name: Replace tokens in config.json
      uses: cschleiden/replace-tokens@v1
      with:
        files: 'appsettings.json'
        tokenPrefix: '${'
        tokenSuffix: '}'
      env:
        Caadi_cn: ${{ secrets.CAADI_CN }}


    - name: Verify updated config.json
      run: cat appsettings.json

    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
